<app-crud
  [items]="items"
  [isLoading]="isLoading"
  [form]="form"
  [editMode]="editing"
  [createMode]="creating"
  [header]="header"
  [row]="row"
  [formTemplate]="formTemplate"
  (edit)="startEdit($event)"
  (delete)="delete($event)"
  (save)="save()"
  (create)="startCreate()"
  (cancel)="cancelEdit()">
</app-crud>

  <ng-template #header>
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
      <th scope="col" class="relative  py-3"><span >Actions</span></th>
    </tr>
  </ng-template>

  <ng-template #row let-p let-edit="edit" let-delete="delete">
    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ p.nom }}</td>
    <td class="px-6 py-4 text-sm text-gray-500 max-w-xs truncate">{{ p.description ?? 'N/A' }}</td>
  </ng-template>

  <ng-template #formTemplate let-form="form">
    <input type="text" placeholder="Nom du produit"
      [(ngModel)]="form.nom" name="nom"
      class="w-full border rounded-lg p-3" required />

    <textarea placeholder="Description"
      [(ngModel)]="form.description" name="description" required
      class="w-full border rounded-lg p-3"></textarea>
  </ng-template>
