<app-crud
  [items]="items"
  [isLoading]="isLoading"
  [form]="form"
  [editMode]="editing"
  [createMode]="creating"
  [header]="header"
  [row]="row"
  [formTemplate]="formTemplate"
  (edit)="edit($event)"
  (delete)="delete($event)"
  (save)="save()"
  (create)="creating = true"
  (cancel)="cancelEdit()">
</app-crud>

  <ng-template #header>
    <tr>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prix</th>
      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Stock</th>
      <th scope="col" class="relative px-6 py-3"><span >Actions</span></th>
    </tr>
  </ng-template>

  <ng-template #row let-p let-edit="edit" let-delete="delete">
    <td class="px-6 py-4 text-sm text-gray-500 max-w-xs truncate">{{ p.statut ?? 'N/A' }}</td>
    <td class="px-6 py-4 whitespace-nowrap text-sm text-blue-600 font-bold">{{ p.montantTotal }} </td>
  </ng-template>

  <ng-template #formTemplate let-form="form">
    <input type="text" placeholder="Statut de la commande"
      [(ngModel)]="form.statut" name="statut"
      class="w-full border rounded-lg p-3" required />

    <textarea placeholder="Montant Total"
      [(ngModel)]="form.montantTotal" name="montantTotal" required
      class="w-full border rounded-lg p-3"></textarea>


    <select placeholder="Client"
      [(ngModel)]="form.clientId" name="client"
      class="w-full border rounded-lg p-3" required >
      <option value="" disabled selected>Choisir un client</option>
      @for(cat of clients; track cat.id){
        <option  [value]="cat.id">{{ cat.nom }}</option>
      }

    </select>

  </ng-template>

