<div class="mt-4 mx-auto max-w-7xl px-2 mb-10">
  <div class="w-full flex items-end justify-end">
    <button (click)="create.emit()"
      class="mb-6 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition flex items-center gap-2">
      <lucide-angular [img]="PlusIcon" class="w-5 h-5"></lucide-angular>
      Ajouter un nouvel élément
    </button>
  </div>

  <div class="shadow overflow-x-auto border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 ">

      <thead class="bg-gray-50">
        <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        @for (item of items; track item.id) {
          <tr>
            <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{$implicit: item, edit: edit, delete: delete}"></ng-container>
          </tr>
        }

        @empty {
          <tr>
            <td [attr.colspan]="colspanCount" class="text-center py-6 text-gray-500">
              Aucun élément trouvé.
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
