<div class=" mt-4 mx-auto max-w-7xl px-2 mb-10">
  <div class="w-full flex items-end justify-end">
    <button (click)="creating = true"
      class="mb-6 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition flex items-center gap-2">
      <lucide-angular [img]="PlusIcon" class="w-5 h-5"></lucide-angular>
      Ajouter un nouveau produit
    </button>
  </div>

  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">

      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nom
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Description
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Prix
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Stock
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y divide-gray-200">
        @for (p of products; track p.id) {
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              {{ p.nom }}
            </td>

            <td class="px-6 py-4 text-sm text-gray-500 max-w-xs truncate">
              {{ p.description ?? 'N/A' }}
            </td>

            <td class="px-6 py-4 whitespace-nowrap text-sm text-blue-600 font-bold">
              {{ p.prix }} £
            </td>

            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
              {{ p.stock }}
            </td>

            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex justify-end gap-2">

                <button (click)="editProduct(p)"
                  class="px-3 py-1 bg-yellow-500 text-white rounded-lg text-sm hover:bg-yellow-600 transition flex items-center justify-center">
                  <lucide-angular [img]="PenIcon" class="w-4 h-4"></lucide-angular>
                </button>

                <button (click)="deleteProduct(p.id)"
                  class="px-3 py-1 bg-red-600 text-white rounded-lg text-sm hover:bg-red-700 transition flex items-center justify-center">
                  <lucide-angular [img]="TrashIcon" class="w-4 h-4"></lucide-angular>
                </button>
              </div>
            </td>
          </tr>
        }

        @empty {
          <tr>
            <td colspan="5" class="text-center py-6 text-gray-500">
              Aucun produit trouvé.
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


@if(editing || creating){
<div class="mx-auto max-w-lg bg-white p-6 rounded-2xl shadow mb-10">
  <h3 class="text-xl font-semibold mb-4 text-center">
    {{ editing ? "Modifier un produit" : "Ajouter un produit" }}
  </h3>

  <form (ngSubmit)="saveProduct()" class="space-y-4">

    <input type="text" placeholder="Nom du produit"
      [(ngModel)]="form.nom" name="nom"
      class="w-full border rounded-lg p-3" required />

    <textarea placeholder="Description"
      [(ngModel)]="form.description" name="description" required
      class="w-full border rounded-lg p-3"></textarea>

    <input type="number" placeholder="Prix"
      [(ngModel)]="form.prix" name="prix"
      class="w-full border rounded-lg p-3" required />

    <input type="number" placeholder="Stock"
      [(ngModel)]="form.stock" name="stock"
      class="w-full border rounded-lg p-3" required />

    <select placeholder="Catégorie"
      [(ngModel)]="form.categorieId" name="categorie"
      class="w-full border rounded-lg p-3" required >
      <option value="" disabled selected>Choisir une catégorie</option>
      @for(cat of categories; track cat.id){
        <option  [value]="cat.id">{{ cat.nom }}</option>
      }

    </select>


    <div class="flex justify-between">
      <button type="submit"
        class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition">
        {{ editing ? "Mettre à jour" : "Ajouter" }}
      </button>

      @if(editing){
        <button type="button"
        (click)="cancelEdit()"
        class="px-4 py-2 bg-gray-400 text-white rounded-lg hover:bg-gray-500 transition">
        Annuler
      </button>
      }

    </div>

  </form>
  <app-toast></app-toast>
</div>
}
